In [1]:
import pandas as pd
import Quandl

In [5]:
api_key = "zbuPWr3CoQXjNje1Z2qX"

states = pd.read_html('https://www.yourdictionary.com/articles/state-abbreviations')
main_df = pd.DataFrame()
for abbv in states[0][1][1:]:
    query = "FMAC/HPI_" + str(abbv)
    df = Quandl.get(query, authtoken=api_key)
    
    # Drop 'NSA Value' column if it exists
    if 'NSA Value' in df.columns:
        df.drop(columns=['NSA Value'], inplace=True)
    
    # Rename 'SA Value' column to the abbreviation (abbv)
    if 'SA Value' in df.columns:
        df.rename(columns={'SA Value': abbv}, inplace=True)
    
    if main_df.empty:
        main_df = df
    else:
        main_df = main_df.join(df, lsuffix='_main', rsuffix='_' + str(abbv))

print(main_df.head())

                   AL         AK         AZ         AR         CA         CO  \
Date
1975-01-31  35.167764  34.604936  28.967806  37.770761  15.812954  19.732791
1975-02-28  35.529189  35.035870  29.450035  37.803814  15.890206  19.923528
1975-03-31  35.854669  35.407964  29.848097  37.826190  16.048152  20.107532
1975-04-30  36.204131  35.784216  30.103491  37.854430  16.316849  20.293914
1975-05-31  36.487839  36.228856  30.168881  37.899527  16.546772  20.407527

                   CT         DE         FL         GA  ...         SD  \
Date                                                    ...
1975-01-31  24.125223  27.746994  30.747651  30.126544  ...  35.825137
1975-02-28  24.681892  27.916509  32.025110  29.874077  ...  35.617404
1975-03-31  25.138555  27.967729  33.911579  29.747488  ...  35.365400
1975-04-30  25.414024  28.055369  36.184107  29.763036  ...  35.120367
1975-05-31  25.522871  28.135907  36.339774  29.816791  ...  34.917177

                   TN         TX         UT         VT         VA         WA  \
Date
1975-01-31  31.938069  32.818733  24.739254  26.571923  27.628050  17.511135
1975-02-28  32.033773  32.942274  25.074462  26.831612  27.936771  17.643281
1975-03-31  32.047196  33.298538  25.311783  27.056628  28.141810  17.748555
1975-04-30  32.153273  34.029014  25.465186  27.247946  28.225428  17.849691
1975-05-31  32.258502  34.168357  25.504588  27.467311  28.325018  17.901681

                   WV         WI         WY
Date
1975-01-31  42.838255  27.783014  31.174526
1975-02-28  43.984922  28.162877  31.669633
1975-03-31  45.135358  28.442934  32.156860
1975-04-30  46.337792  28.635794  32.602327
1975-05-31  47.534735  28.747946  32.968711

[5 rows x 50 columns]

In [6]:
# main_df.to_csv("us_states.csv")

Pickling

In [14]:
import pickle

pickled_data = open('us_states.pickle','wb')
pickle.dump(main_df , pickled_data)
pickled_data.close()

In [15]:
with open('us_states.pickle', 'rb') as pickled_data:
    HPI_Data = pickle.load(pickled_data)

print(HPI_Data)

                    AL          AK          AZ          AR          CA  \
Date
1975-01-31   35.167764   34.604936   28.967806   37.770761   15.812954
1975-02-28   35.529189   35.035870   29.450035   37.803814   15.890206
1975-03-31   35.854669   35.407964   29.848097   37.826190   16.048152
1975-04-30   36.204131   35.784216   30.103491   37.854430   16.316849
1975-05-31   36.487839   36.228856   30.168881   37.899527   16.546772
...                ...         ...         ...         ...         ...
2021-01-31  172.123016  198.216004  252.321995  173.854902  265.483692
2021-02-28  173.700685  198.578509  258.152037  175.222591  269.785790
2021-03-31  176.193957  199.155456  263.935432  177.443410  274.591878
2021-04-30  179.101603  199.759017  269.467820  180.287711  279.860110
2021-05-31  181.864714  200.351900  275.310381  182.874915  285.037477

                    CO          CT          DE          FL          GA  ...  \
Date                                                                    ...
1975-01-31   19.732791   24.125223   27.746994   30.747651   30.126544  ...
1975-02-28   19.923528   24.681892   27.916509   32.025110   29.874077  ...
1975-03-31   20.107532   25.138555   27.967729   33.911579   29.747488  ...
1975-04-30   20.293914   25.414024   28.055369   36.184107   29.763036  ...
1975-05-31   20.407527   25.522871   28.135907   36.339774   29.816791  ...
...                ...         ...         ...         ...         ...  ...
2021-01-31  236.992546  163.408683  195.007100  256.599185  184.189672  ...
2021-02-28  241.224363  166.545100  196.431809  260.574991  187.347806  ...
2021-03-31  245.841762  169.702057  197.760985  265.495873  190.591896  ...
2021-04-30  251.321304  172.227550  199.224232  270.827723  193.939013  ...
2021-05-31  256.527171  175.141074  200.635293  276.104390  197.321073  ...

                    SD          TN          TX          UT          VT  \
Date
1975-01-31   35.825137   31.938069   32.818733   24.739254   26.571923
1975-02-28   35.617404   32.033773   32.942274   25.074462   26.831612
1975-03-31   35.365400   32.047196   33.298538   25.311783   27.056628
1975-04-30   35.120367   32.153273   34.029014   25.465186   27.247946
1975-05-31   34.917177   32.258502   34.168357   25.504588   27.467311
...                ...         ...         ...         ...         ...
2021-01-31  209.201913  212.863280  230.930964  261.143439  213.178266
2021-02-28  212.391647  216.774432  234.136134  267.455862  215.098138
2021-03-31  214.260557  220.900632  237.825438  274.468767  217.528347
2021-04-30  214.884162  225.112168  241.689324  281.810291  220.352286
2021-05-31  216.141368  229.400535  245.556808  289.273876  223.027294

                    VA          WA          WV          WI          WY
Date
1975-01-31   27.628050   17.511135   42.838255   27.783014   31.174526
1975-02-28   27.936771   17.643281   43.984922   28.162877   31.669633
1975-03-31   28.141810   17.748555   45.135358   28.442934   32.156860
1975-04-30   28.225428   17.849691   46.337792   28.635794   32.602327
1975-05-31   28.325018   17.901681   47.534735   28.747946   32.968711
...                ...         ...         ...         ...         ...
2021-01-31  226.211813  284.724075  167.420905  176.965675  228.141680
2021-02-28  228.566252  289.445763  168.434414  178.653576  232.034309
2021-03-31  231.145925  295.137962  168.967002  180.801619  236.296877
2021-04-30  234.007997  300.972589  169.124847  183.293736  240.418326
2021-05-31  236.777264  306.907019  169.471123  185.658815  244.723261

[557 rows x 50 columns]